.loader {
	position: absolute;
	background-color: #f1f1f18c;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 9;
	display: flex;
	align-items: center;
	justify-content: center;
}

.spinner-border {
	width: 50px;
	height: 50px;
}
